<div class="px-20 pt-10">
  <h1 class="font-bold text-[32px] leading-[40px]">Título do artigo</h1>
  <art-article-publication-info [publicationInfo]="data" />
  <div class="mt-5">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quis
    mollitia dolorem voluptatem voluptas nesciunt, officiis aperiam perspiciatis
    autem reprehenderit blanditiis ab ut aspernatur cumque accusamus accusantium
    repellendus quia quasi? Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Optio quis mollitia dolorem voluptatem voluptas nesciunt, officiis
    aperiam perspiciatis autem reprehenderit blanditiis ab ut aspernatur cumque
    accusamus accusantium repellendus quia quasi? Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Optio quis mollitia dolorem voluptatem
    voluptas nesciunt, officiis aperiam perspiciatis autem reprehenderit
    blanditiis ab ut aspernatur cumque accusamus accusantium repellendus quia
    quasi? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quis
    mollitia dolorem voluptatem voluptas nesciunt, officiis aperiam perspiciatis
    autem reprehenderit blanditiis ab ut aspernatur cumque accusamus accusantium
    repellendus quia quasi? Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Optio quis mollitia dolorem voluptatem voluptas nesciunt, officiis
    aperiam perspiciatis autem reprehenderit blanditiis ab ut aspernatur cumque
    accusamus accusantium repellendus quia quasi? Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Optio quis mollitia dolorem voluptatem
    voluptas nesciunt, officiis aperiam perspiciatis autem reprehenderit
    blanditiis ab ut aspernatur cumque accusamus accusantium repellendus quia
    quasi?
  </div>
  <div class="mt-5 flex flex-col gap-3">
    <art-text-area
      label="Comentário"
      placeholder="Insira aqui o seu comentário"
    />
    <art-button>Comentar</art-button>
  </div>

  <div class="mt-10">
    <art-article-comments-list />
  </div>
</div>
