@if(label()) {
<label [for]="id()" class="font-semibold">
  {{ label() }}
  @if(isRequiredValidator) { * }
</label>
}
<div class="px-4 py-2 bg-gray rounded-xl flex items-center gap-2">
  <textarea
    [id]="id()"
    class="w-full h-full bg-transparent outline-none flex-grow"
    [placeholder]="placeholder()"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    [rows]="rows()"
    [cols]="cols()"
    [disabled]="disabled"
  ></textarea>
</div>

@if(invalid && errors) {
<art-form-error [formErrors]="errors" />
}
