<div class="w-full flex gap-4">
  <art-user-acronimy userName="Carlos" />

  <div class="flex flex-col gap-1">
    <div class="flex items-center justify-between">
      <span class="flex gap-2">
        <span class="font-bold">Maria Luiza</span>
        <span class="text-gray-600">2d</span>
      </span>

      <lucide-angular
        class="cursor-pointer"
        [img]="Trash"
        [size]="25"
      ></lucide-angular>
    </div>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eaque quas
      quasi iusto, dignissimos minus, accusantium aperiam ipsam praesentium nam
      enim aspernatur et delectus suscipit, nulla illo nemo ut vitae?
    </p>

    <lucide-angular
      class="cursor-pointer"
      [img]="Reply"
      [size]="25"
    ></lucide-angular>
  </div>
</div>
