<div class="px-20 pt-10 flex flex-col gap-4">
  <div class="flex justify-between">
    <art-button (click)="redirectToArticlesList()">
      <div class="flex gap-2 items-center">
        <lucide-angular [img]="ArrowBigLet" [size]="16"></lucide-angular>
        Voltar
      </div>
    </art-button>
  </div>

  <div class="flex justify-between">
    <h1 class="font-bold text-[32px] leading-[40px]">Novo artigo</h1>
    <art-button [disabled]="!isFormValid">
      <div class="flex gap-2 items-center">
        <lucide-angular [img]="Plus" [size]="16"></lucide-angular>
        Criar artigo
      </div>
    </art-button>
  </div>

  <form [formGroup]="createArticleForm" class="flex flex-col gap-8 mt-10">
    <art-input
      label="Título"
      placeholder="Digite aqui o título"
      formControlName="title"
    />
    <art-input
      label="Imagem"
      placeholder="Digite aqui o título"
      formControlName="imageUrl"
    />
    <art-list-pill
      label="Tags"
      [options]="articleTypes()"
      formControlName="tags"
    />
    <art-text-area
      label="Conteúdo"
      placeholder="Escreva o artigo ..."
      [rows]="10"
      formControlName="content"
    />
  </form>
</div>
