<div class="px-20 pt-10">
  <div class="flex justify-between">
    <h1 class="font-bold text-[32px] leading-[40px]">Todos os artigos</h1>
    <art-button (click)="redirectToCreateArticle()">Criar artigo</art-button>
  </div>

  <form [formGroup]="searchArticlesForm" class="flex flex-col gap-4 mt-10">
    <art-list-pill formControlName="pills" [options]="articleTypes()" />
    <art-input
      placeholder="Pesquisa por algo no artigo"
      formControlName="search"
    />
  </form>

  <div class="mt-5">
    <art-articles-list [articlesPagination]="articlesPagination()" />
  </div>
</div>
